apiVersion: apps/v1
kind: Deployment
metadata:
  name: activity-log-service
  labels:
    app: activity-log-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: activity-log-service
  template:
    metadata:
      labels:
        app: activity-log-service
    spec:
      containers:
      - name: app
        image: activity-log-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
          name: http
        env:
        - name: PORT
          value: "3000"
        - name: KAFKA_BROKERS
          value: "kafka-service:9092"
        - name: MONGO_URL
          value: "mongodb://mongo-service:27017/logsdb"
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 5

