apiVersion: v1
kind: Service
metadata:
  name: activity-log-service
  labels:
    app: activity-log-service
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: activity-log-service

